.bck-main{
    background: #282828;
}

.alpha {
    opacity: 0.8;
}

.color-grey-font{
    color: #313437;
}

.strong {
    font-weight: bold;
}

/* http://paletton.com/#uid=53p0D0kpMpRmetinBrmpwm3qRjm */

.color-bck-0 {
    color: #202020;
}


/* Main Primary color */
.color-primary-0 {
    color: #1D6881
}

.color-primary-1 {
    color: #307A92
}

.color-primary-2 {
    color: #277088
}

.color-primary-3 {
    color: #1A596E
}

.color-primary-4 {
    color: #134D60
}



/* Main Secondary color (1) */
.color-secondary-1-0 {
    color: #302D90
}

.color-secondary-1-1 {
    color: #4642A3
}

.color-secondary-1-2 {
    color: #3C3898
}

.color-secondary-1-3 {
    color: #2A277B
}

.color-secondary-1-4 {
    color: #211E6C
}


/* Main Secondary color (2) */
.color-secondary-2-0 {
    color: #34AA21
}

.color-secondary-2-1 {
    color: #4DC13B
}

.color-secondary-2-2 {
    color: #41B42F
}

.color-secondary-2-3 {
    color: #2D911D
}

.color-secondary-2-4 {
    color: #238015
}

.color-secondary-2-5 {
    color: rgba(77,193,59,0.5)
}

/* Main Primary background */
.bck-primary-0 {
    background: #1D6881
}

.bck-primary-1 {
    background: #307A92
}

.bck-primary-2 {
    background: #277088
}

.bck-primary-3 {
    background: #1A596E
}

.bck-primary-4 {
    background: #134D60
}


/* Main Secondary background (1) */
.bck-secondary-1-0 {
    background: #302D90
}

.bck-secondary-1-1 {
    background: #4642A3
}

.bck-secondary-1-2 {
    background: #3C3898
}

.bck-secondary-1-3 {
    background: #2A277B
}

.bck-secondary-1-4 {
    background: #211E6C
}


/* Main Secondary background (2) */
.bck-secondary-2-0 {
    background: #34AA21
}

.bck-secondary-2-1 {
    background: #4DC13B
}

.bck-secondary-2-2 {
    background: #41B42F
}

.bck-secondary-2-3 {
    background: #2D911D
}

.bck-secondary-2-4 {
    background: #238015
}