body {
    background: url("http://1.bp.blogspot.com/-DKZDpRKxg5o/TmTDPVr0y4I/AAAAAAAAAhY/duQsdLBDFyE/s1600/Website-Wallpapers-.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*header*/
.headercard {
    background: rgba(21, 55, 109, 0.65);
    top: 5em;
}

header p {
    font-size: 2em;
}

header h1 {
    font-size: 3em;
}

/*body*/

.bodycontainer {
    position: relative;
    display: flex;
    margin-top: 30em;
    justify-content: center;
}

.bodycontainer img {
    position: relative;
    width: 100%;
    height: 10em;
    border: 10px solid #2d5087;
    border-radius: 15px;
}

.bodycontainer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #AfAfAa;
}

.bodycontainer:hover{
    border-width: 5px;
    opacity:  0.9;
    cursor: pointer;
}


